<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="m-3">
    <h2>Edit your post</h2>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH" class="container mt-5">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            name="username"
            class="form-control "
            readonly
            id="username"
            placeholder="@<%= post.username %>"
          />
        </div>
        <div class="mb-3">
          <label for="id" class="form-label">id</label>
          <input
            type="text"
            name="id"
            class="form-control "
            readonly
            id="id"
            placeholder="@<%= post.id %>"
          />
        </div>
  
        <div class="mb-3">
          <label for="content" class="form-label">Content (Editable)</label>
          <textarea
            name="content"
            id="content"
            class="form-control"
            required
            
          ><%= post.content  %></textarea>
        </div>
        <div class="mb-3">
          <label for="img" class="form-label">Image URL</label>
          <input type="url" class="form-control" id="img" name="img" placeholder="<%=post.img %>" readonly/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>    
    </form>
  </body>
</html>
